.preloader{
	position: fixed;
	left:0;
	top: 0;
	width: 100%;
	height:100%;
	background: black;
    z-index: 2;
transition: 1s all;
opacity: 1;
}
.loader{
width: 1000px;
height: 1000px;
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%,-50%);
/*animation:1s spin infinite linear;*/

 }
 .done{

transform: translate3d(-1400px, -500px, 0px);
 	
 }
 

@keyframes spin{
 	from{
 		transform: translate(-50%,-50%) rotate(0deg);
 	}
 	to{
 		transform: translate(-50%,-50%)rotate(360deg);
 	}
 }
 @keyframes tr{
 	from{
 		from 
 	}
 	to{
 		
 	}
 }
















